body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    color: #222;
}

.navbar {
    padding: .3rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.main-frame-forget {
    background-color: aquamarine;
    margin-top: 40px;
    border-radius: 10px;
}

.my-img img {
    height: 100px;
    width: 100px;
    margin-top: 60px;
    margin-bottom: 25px;
}

.main-line {
    margin-bottom: 20px;
}

button {
    margin-top: 25px;
}

hr {
    border-top: 1px solid #000000;
}

.or-session {
    margin-top: 25px;
}

.my-new-1 {
    margin-bottom: 25px;
}

.my-new-1 a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

.main-frame-forget-2 {
    background-color: black;
    color: white;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
}

.main-frame-forget-3 {
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
}

.inner {
    background-color: #434e5a;
    color: white;
    margin: 0px auto;
    padding: 18px 18px;
    border-radius: 10px;
}

.user-img img {
    height: 120px;
    width: 120px;
}

.user-img {
    margin-top: -80px;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 25px;
}

.inner button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    width: 100px;
}