.my-color1 {
    background-color: black;
    color: white;
}

.my-color2 {
    background-color: black;
    color: white;
}

.nav-item button {
    height: 36px;
    /* width: 80px; */
}

.nav-item {
    padding-left: 10px;
}


/* img {
    height: 200px;
    width: 500px;
} */